@font-face {
    font-family: poppins_thin;
    src: url('../fonts/poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: poppins_regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppins_bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: poppins_medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: poppins_black;
    src: url('../fonts/poppins/Poppins-Black.ttf');
}
