.logo {
  width: 189.95px; /* Adjust width as needed */
  height: 60px; /* Maintain aspect ratio */
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-in, ;

  border-radius: 0px;
}
.logo:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px #ccc;
}


a.nav-link { /* Kjo sherben me ndrru ngjyren e fontit te Nav Barit edhe me ja hek underline-n*/
  color: #555555;
  text-decoration: none;
}

.mainDivLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.mainDivLogin .logo{
  width: 350px;
  border: 1 solid black;
  height: 100px;
}

.robot-font{
  font-family: 'Roboto', sans-serif;
}

.Inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
  padding-left: 10px;
  width: 300px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: poppins_regular;
  font-size: 0.9rem;
}

.loginBtn {
  width: 300px;
  height: 45px;
  background-color: #555555;
  color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer; /* edhe pa qita bon*/
  font-family: poppins_bold;
  font-size: 0.9rem;
}
.forgotPasswordDiv {
  display: flex;
  width: 320px;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}
.signuptext{
  text-decoration: none;
  cursor: pointer;
  color: #555555;
  font-size: small;
  padding-left: 5px;
  font-family: poppins_regular;
}

.GoogleLogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 150px;
  margin-top: 35px;
}
.btn-google-fb{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10rem;
}
.googlebtn{
height: 2.8rem;
width: 18.5rem;
border-radius: 10px;
border: 1px solid #ccc;
background-color: white;
font-weight: 500;

}
.googleicon{
margin-right: 5px;
width: 1.7rem;
height: 1.7rem;
}
.facebookbtn{
  display: flex;
  height: 2.8rem;
width: 18.5rem;
border-radius: 10px;
border: 1px solid #ccc;
background-color: white;
font-weight: 500;
align-items: center;
justify-content: center;

}
.fbicon{
  margin-right: 5px;
width: 1.7rem;
height: 1.7rem;
}