.error-style1{ 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem, 20rem;
    align-items: center;
}
.imageerror{
    width: 50%;
    height: 50%;
}