
*{
    margin: 0;
    padding: 0;
    /* background: url('./bg.png') no-repeat center center fixed; */
    background-size: cover;
}



.mainDiv {
     /* background-color: white; */
    margin-top: 3.5rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.formInputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
    padding-left: 12px;
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.firstP {
    font-family: 'Roberto', sans-serif;
    font-size: 18px;
    font-weight: 800;
    align-self: flex-start;
    margin-bottom: 1rem;
}
.secondP{
    font-family: 'Roberto', sans-serif;
    font-size: 15px;
    font-weight: 800;
    align-self: flex-start;
    margin-bottom: 1rem;
}


.logoDiv {  
    /* border: 1px solid black; */

    display: flex;
    align-items: center;
    justify-content: center;
}
.logo1 {
    width: 200px;
    height: 64px;
}

.forms {
    /* // width: 350px; */
    width: 30%;
    padding: 0 1rem;
    /* border: 1px solid black; */

}

.butoniNext{
    width: 30%;
    align-self: center;
    height: 45px;
    color: white;
    border: 1px solid #ccc;
    background-color: #555;
    border-radius: 100px;
    cursor: pointer; /* edhe pa qita bon*/
    margin-bottom: 100px;
    
}

.datepicker{
    /* // background-color: red; */
    width: 259%;
}