@import '../../styles/globals';

* {
    margin: 0;
    padding: 0;
}
.internship_body {
    // border: 1px solid black;
    width: 100%;
    height: auto;
    padding: $_margin;
}

.searchInput { 
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 15px;
    cursor: pointer;
}