.modalform{
    display: flex;
    flex-direction: column;
}
.admindashboard-table{
    margin-top: 2rem;
    border: 1px solid #333;
}
.admindashboard-table th {
    background-color: lightblue;
    text-align: center;
}
.admindashboard-table td{
    text-align: center;
}

.admininternshipmaindiv{
    display: flex;
    width: 100vw;
    height: 100vh;
    
}

.admindashboardrightside{
    display: flex;
    flex-direction: column;
    width: 100%;

    // padding-top: 5rem;
}