@import "../../styles/_globals.scss";


* {
  margin: 0;
  padding: 0;

}
.applymainContainer {
  width: 100%;
  padding: $_margin;
}
.applycompanyLogo {
  width: 250px;
  height: 200px;
  object-fit: contain;
}
.btn-apply {
  background-color: $clr-caramel;
  border: none;
  box-shadow: 2px 2px 2px #555555;
  width: 20%;
  height: 35px;
  cursor: pointer;
  color: black;
  font-family: poppins_regular;
  border-radius: 6px;
  transition: transform 0.3s, background-color 0.3s, color 0.2s;
}
.btn-delete {
  background-color: #c41b1b;
  border: none;
  box-shadow: 2px 2px 2px #c41b1b;
  width: 20%;
  height: 35px;
  cursor: pointer;
  font-family: poppins_regular;
  border-radius: 6px;
  transition: transform 0.3s, background-color 0.3s, color 0.2s;
  color: white;
}
.specifiations-details{
  width: 150px;
  height: 30px;
  background-color: $clr_graywhite;
  border-radius: 15px;
  padding: 5px 10px;
  text-align: center;
}
.specifiations-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2%;
}
.title-specs{
  text-align: center;
}
.btn-delete:hover {
  transform: translateY(-2px);
  background-color: #d61d1d;
  color: black;
}
.btn-apply:hover {
  transform: translateY(-2px);
  background-color: #555;
  color: white;
}

.applyCard {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
.apply-icons{
  width: 20px;
  height: 20px;
}
.specifications {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  margin-left: 10%;
  background-color: #fef8f8;
  gap: 7%;
  padding-left: 3%;
  padding-top: 2%;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.intapplydescription {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  border-radius: 20px;
  font-size: 1.1rem;
  margin-bottom: 5%;
  font-family: poppins_regular;
  border-radius: 20px;
  background-color: #fef8f8;
  padding: 3% 3%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // align-items: center;
}
.int-requirements {
  align-self: center;
  font-family: poppins_regular;
  font-size: 1.5rem;
}

.edit-delete-btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 480px) {
  .applyCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .applycompanyLogo {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $_margin;
    margin-bottom: 10%;
  }
  .int-requirements {
    align-self: center;
    font-family: poppins_bold;
    font-size: 1rem;
  }
  .specifications {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $_margin;
    margin-bottom: 5%;
    align-items: center;
    gap: 5px;
  }
  .specifiations-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .btn-apply {
    background-color: #b3a398;
    box-shadow: 2px 2px 2px #555555;
    width: 30%;
    height: 35px;
    cursor: pointer;
    font-family: poppins_regular;
    border-radius: 6px;
    transition: transform 0.3s, background-color 0.3s, color 0.2s;
  }
  .btn-delete {
    background-color: #c41b1b;
    border: none;
    box-shadow: 2px 2px 2px #c41b1b;
    width: 30%;
    height: 35px;
    cursor: pointer;
    font-family: poppins_regular;
    border-radius: 6px;
    transition: transform 0.3s, background-color 0.3s, color 0.2s;
    color: white;
  }
  .intapplydescription {
    font-size: 0.8rem;
    font-family: poppins_regular;
  }
  h2 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 0.9rem;
  }
  h6 {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .applyCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .applycompanyLogo {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $_margin;
    margin-bottom: 10%;
  }
  .btn-apply {
    background-color: #b3a398;
    box-shadow: 3px 3px 3px #555555;
    width: 30%;
    height: 35px;
    cursor: pointer;
    font-family: poppins_regular;
    border-radius: 6px;
    transition: transform 0.3s, background-color 0.3s, color 0.2s;
  }
  .int-requirements {
    align-self: center;
    font-family: poppins_bold;
    font-size: 1rem;
  }
  .specifications {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $_margin;
    margin-bottom: 5%;
    align-items: center;
    gap: 10px;
  }
  .specifiations-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  h2 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.9rem;
  }
}

@media (max-width: 1024px) {
  .applyCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .applycompanyLogo {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $_margin;
    margin-bottom: 10%;
  }
  .btn-apply {
    background-color: #b3a398;
    box-shadow: 3px 3px 3px #555555;
    width: 30%;
    height: 35px;
    cursor: pointer;
    font-family: poppins_regular;
    border-radius: 6px;
    transition: transform 0.3s, background-color 0.3s, color 0.2s;
  }
  .specifications {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $_margin;
    margin-bottom: 5%;
    align-items: center;
    gap: 5px;
  }
}
