@import "../../styles/_globals.scss";

* {
  margin: 0;
  padding: 0;
}

// Desktop container utility class:
.utilitycontainer {
  max-width: 1570px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.studentbanner {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
  margin-top: 3.5rem;
}

.studentbannerleftside {
  width: 100%;
}

.imgprofilephoto {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 1px solid black;
  max-width: 100%;
  border-radius: 20px;
}

.editProfilePhoto {
  align-self: center;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid black;
  max-width: 100%;
  border-radius: 20px;

  margin-bottom: 10px;
}

.skillstable,
.educationstable {
  width: 100%;
  margin-top: 1.5rem;
}

.skillstable td {
  border-bottom: 2px solid #d3c0b4;
  font-family: poppins_bold;
}

.skillstable tr {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.studentskillscontainer,
.studenteducationscontainer {
  margin: 0 10rem;
}

.educationstable th {
  font-family: poppins_regular;
  font-size: 18px;
}

.myprofilebannerrightside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.educationstable td {
  font-family: poppins_thin;
}

.editing-buttons{
  text-align: center;
  gap: 5px;
}

.editing-buttons button:nth-of-type(1) {
  width: 10rem;
  padding: 5px;
  border: 0.5px solid black;
  border-radius: 10px;
  background-color: $clr-caramel;
  color: black;
}
.editing-buttons button:nth-of-type(2) {
  width: 10rem;
  padding: 5px;
  border-radius: 10px;
  color: white;
  border: 1px solid #5555;
  background-color: #555555;
}
.editing-buttons button:nth-of-type(3) {
  width: 10rem;
  padding: 5px;
  border-radius: 10px;
  color: white;
  border: 1px solid #5555;
  background-color: #555555;
}

/* lg */
@media (max-width: 1024px) {
  .studentcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .utilitycontainer {
    max-width: 768px;
  }

  .studentbanner {
    display: flex;
    flex-direction: column-reverse;
    // justify-content: center;
    align-items: center;

    margin: 0;
  }

  .studentbannerleftside {
    display: flex;
    flex-direction: column;
  }

  .studentUsername {
    text-align: center;
  }

  .studentbanner,
  .studentskillscontainer,
  .studenteducationscontainer {
    margin: 0;
  }

  .studentbannerrightside {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    border: 1px solid black;
  }

  .studentbannerrightside img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .studentbannerleftside h4 {
    align-self: center;
  }

  .studentbannerleftside p {
    font-size: 16px;
    align-self: center;
    text-align: center;
  }

  .studentskillscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .studentskillscontainer tr {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
  }

  .studenteducationscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .educationstable tr {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
    text-align: center;
  }
}

/* xs */
@media (max-width: 768px) {
  .utilitycontainer {
    width: 100%;
  }

  .studentbanner {
    display: flex;
    flex-direction: column-reverse;
    // justify-content: center;
    align-items: center;

    margin: 0;
  }

  .studentbannerleftside {
    display: flex;
    flex-direction: column;
  }

  .studentUsername {
    text-align: center;
  }

  .studentbanner,
  .studentskillscontainer,
  .studenteducationscontainer {
    margin: 0;
  }

  .studentbannerrightside img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .studentbannerleftside h4 {
    align-self: center;
  }

  .studentbannerleftside p {
    font-size: 12px;
    width: 300px;
    align-self: center;
    text-align: center;
  }

  .studentskillscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .studentskillscontainer tr {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
  }

  .studenteducationscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .educationstable tr {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
    text-align: center;
  }
}

.Edit-Profile-Container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%; /* Adjust width as needed */
  height: 80%;
  max-height: 100vh; /* To ensure it doesn't exceed the viewport height */
  overflow-y: auto; /* Enables vertical scrolling */
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  z-index: 1000;
  border-radius: 10px;
}

.Edit-Profile-Container form {
  display: flex;
  flex-direction: column;
}

.Edit-Profile-Container .form-group {
  margin-bottom: 20px;
}

.Edit-Profile-Container .form-group label {
  display: block;
  margin-bottom: 10px;
}

.Edit-Profile-Container .form-group input,
.Edit-Profile-Container .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.Edit-Profile-Container .form-buttons {
  display: flex;
  justify-content: space-between;
}

.Edit-Profile-Container .form-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Edit-Profile-Container .form-buttons .cancel-internship {
  background-color: #f44336;
  color: white;
}
.skillsListDiv {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  margin: 10px 5px;
}
.skillsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.inputDisclaimer{
  font-size: 0.7rem;
  margin: 0;
  margin-left: 10px;
}


.modalBody{
  background-color: rgb(233, 232, 232);

  border: 1px solid black;
  border-radius: 10px;

  height: 5rem;
}

#internshipImage{

  width: 80%;
  height: 100%;
  object-fit: contain;

  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 5%;
}

#internshipTitle{
  height: 4rem;
  overflow-y: auto;
}

#internshipTitle::-webkit-scrollbar {
  height: 12px;
  width: 5px;
}
#internshipTitle::-webkit-scrollbar-thumb,
#internshipTitle::-webkit-scrollbar-track {
  border-radius: 92px;
}
#internshipTitle::-webkit-scrollbar-thumb {
  background: $clr-caramel;
}
#internshipTitle::-webkit-scrollbar-track {
  background: $clr_graywhite;
}

#internshipLink{
  text-decoration: none;
  color: black;
  background-color: $clr-caramel;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0;
  width: fit-content;
  
  transition: transform 0.3s, background-color 0.3s, color 0.2s;

}
#internshipLink:hover{
  cursor: pointer;
  background-color: $clr_buttontheme;
  color: white;
}

#internshipContainer{
  display: flex;
  flex-wrap: wrap;

  gap: 1em;
  justify-content: center;
}

#modalBodyApp{
  background-color: $clr-caramel;
}

#modalBodyAppButton:hover{
  cursor: pointer;
}