@import '../../styles/globals';
@import '../../styles/fonts';

*{
    margin: 0;
    padding: 0;
}
.logo1 {
    width: 50%;
    height: auto;
    padding-bottom: 20px;
}
.main-Div {
    display: flex;
    padding: $_margin;
    
}
.left-elements{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color:  #f2f2f2;
    justify-content: center;
    align-items: center;
}

.foto-Profilit{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #B3A398;
}
.first-P{
    font-family: poppins_bold;
    font-size: large;
    margin-top: 5%;
    margin-bottom: 1%;
}
.second-P{
    font-family: poppins_regular;
    font-size: medium;
}
.left-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 15%;
    width: 10rem;
    height: 13rem;
    background-color: #B3A398;
    border-radius: 15%;
    position: relative;
    margin-bottom: 100%;
}
.info-text {
    padding-left: 20px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1.7rem;
}
.info-skills{
    display: grid;
    align-items: center;
    justify-content: center;
grid-template-columns: repeat(2, 50px);
grid-template-rows: repeat(2, 40px);
    padding-left: 10px;
    column-gap: 10px;
}
.skill-element{
    display: flex;
    font-size: 10px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #D9D9D9;
}
.right-elements{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 3rem;
    justify-content: flex-start;
    width: 50%;
}

.formInputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
    padding-left: 12px;
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 10px;

}
.firstP{
    font-family: poppins_bold;
    font-size: 0.7rem;
}
.skill-description{
    height: 7rem;
    width: 17rem;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}
.loginButton {
    width: 300px;
    height: 45px;
    background-color: #555555;
    color: white;
    border: 1px solid #ccc;
    border-radius: 100px;
    cursor: pointer; /* edhe pa qita bon*/
    align-self: center;
}