@import "../../styles/_fonts";

*{
    padding: 0;
    margin: 0;
}
.main-div{
    display: flex;
    align-items: stretch;
    background-color:#F4F2F3;
    justify-content: flex-start;
    border-radius: 25px;
    height: 600px;
}
.INlogo{
    margin-top: 2rem;
    width: 15rem;
    height: 5rem;
}
.leftContainer{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    height: 100%;
    flex-direction: column;
    
}
.profilePic{
    border: 1px solid black;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
}
.profileName{
    margin-top: 2rem;
    font-family: poppins_bold;
}
.rightContainer{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
}
.formInput{
    display: flex;
    margin-left: 4rem;
    padding-left: 12px;
    width: 80%;
    height: 47px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: poppins_regular;
    font-size: small;
}
.rightContainer p {
    font-family: poppins_bold;
    font-size: small;
    margin-left: 4rem;
    margin-top: 1rem;
}
.rightContainer button{
    margin-top: 2rem;
    padding: 1rem 3.2rem 1rem 3.2rem;
    border-radius: 25px;
    align-self: center;
    background-color: #D3C0B4;
    color: white;
    border: 0px;
    font-family: poppins_regular;
}