.modalform{
    display: flex;
    flex-direction: column;
}
.adapplications-table{
    height: auto;
}
.adapplications-table th {
    text-align: center;
}
.adapplications-table td{
    text-align: center;
}