@import '../../styles/_globals.scss';



.mentors-card{
    scroll-snap-align: start;
}
.mentors-card:hover {
    transform: scale(1.05);
}


.mentors-card-text{
    // color: $clr_softgray;
    color: $clr_mediumgray;
}


@media only screen and (max-width: 480px) {
 .mentors-card {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
.mentors-card {
    width: 100%;
    }
}
   