@import '../../styles/_globals.scss';
@import '../../styles/_fonts';





*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 100%;
}

#body{
    // background-color: $clr_softwhite;
    font-family: poppins_regular;

    background-color: #f2f2f2;
    // background-color: black;
}

[data-theme = "dark"] {
    background-color: black;
}

.banner{
    display: flex;
    justify-content: space-between;
    
    gap: 2vw;
    margin: 5vh 12.5vw;
    padding: 2rem;
    background-color: $clr_softwhite;
    // border: 1px solid black;
    
}

.banner_bannerPhoto{
    background-color: $clr_buttontheme2;
    width: 45%;
    // height: 100%;
    text-align: end;
    border-radius: 40px;
}

.banner_maindiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    // border: 1px solid black;
}

.banner_buttondiv{
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: end;
    // margin-right: 5vw;
    // border: 1px solid black;
    height: 20%;
}

.button_registercompany{
    width: 40%;
    height: 60%;
    background-color: $clr_bgtheme;
    color: black;
    border: 1px solid #ccc;
    border-radius: 100px;
    // cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.2s;
}

.button_registercompany:hover{
    background-color: $clr_buttontheme;
    color: white;
}

.button_findintern{
    width: 40%;
    height: 60%;
    background-color: $clr_buttontheme2;
    color: white;
    border: 1px solid #ccc;
    border-radius: 40px;
    // cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.2s;
}

.button_findintern:hover{
    background-color: $clr_buttontheme;
}


.poweredby{
    font-family: poppins_black;
    text-align: center;

    margin-top: 15rem;
    margin-bottom: 5rem;
}

.ph_grid{
    // border: 1px solid black;
    display: flex;
    justify-content: center;
}

.poweredbygrid{
    display: grid;

    // border: 1px solid black;
    height: 50rem;
    width: 60%;

    justify-content: center;
    align-items: center;

    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);

}

.gridphotos{
    width: 70%;
    height: 100%;
    object-fit: contain;

    justify-self: center;
    align-self: center;
}

.studentcarddiv{
    margin: $_margin;
    padding: 1rem 2rem;
    height: 500px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
    flex-shrink: 0;
    scroll-snap-type: x mandatory;

    gap: .75rem;
    background-color: $clr_softwhite;
}

.studentcarddiv::-webkit-scrollbar {
    height: 12px;
    
}
  
  .studentcarddiv::-webkit-scrollbar-thumb,
  .studentcarddiv::-webkit-scrollbar-track {
    border-radius: 92px;
  }
  
  .studentcarddiv::-webkit-scrollbar-thumb {
    background: $clr_buttontheme2;
  }
  
  .studentcarddiv::-webkit-scrollbar-track {
    background: $clr_graywhite;
  }



  :root {
    --red: #ef233c;
    --darkred: #c00424;
    --platinum: #e5e5e5;
    --black: #2b2d42;
    --white: #fff;
    --thumb: #edf2f4;
  }