.adinternship-modalform{
    display: flex;
    flex-direction: column;
}
.adinternship-table th {
    text-align: center;
}
.adinternship-table td{
    text-align: center;
}
.adint-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.form-control{
    margin-top: 5px;
}