@import "../../styles/_globals.scss";

* {
  margin: 0;
  padding: 0;
}

// Desktop container utility class:
.utilitycontainer {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.studentbanner {
  display: flex;
  justify-content: space-between;

  margin: 0 10rem;
  margin-top: 3.5rem;
}

.studentbannerleftside {
  width: 50%;
}

.studentbannerrightside img {
  display: block;
  max-width: 100%;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  object-fit: contain;

  // border: 1px solid black;
}

.skillstable,
.educationstable {
  width: 100%;
  margin-top: 1.5rem;
}

.skillstable td {
  border-bottom: 2px solid #d3c0b4;
  font-family: poppins_bold;
}

.skillstable tr {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.studentskillscontainer,
.studenteducationscontainer {
  margin: 0 10rem;
}

.educationstable th {
  font-family: poppins_regular;
  font-size: 18px;
}

.educationstable td {
  font-family: poppins_thin;
}

/* lg */
@media (max-width: 1024px) {
  .studentcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .utilitycontainer {
    max-width: 768px;
  }

  .studentbanner {
    display: flex;
    flex-direction: column-reverse;
    // justify-content: center;
    align-items: center;

    margin: 0;
  }

  .studentbannerleftside {
    display: flex;
    flex-direction: column;
  }

  .studentUsername {
    text-align: center;
  }

  .studentbanner,
  .studentskillscontainer,
  .studenteducationscontainer {
    margin: 0;
  }

  .studentbannerrightside img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .studentbannerleftside h4 {
    align-self: center;
  }

  .studentbannerleftside p {
    font-size: 16px;
    align-self: center;
    text-align: center;
  }

  .studentskillscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .studentskillscontainer tr {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
  }

  .studenteducationscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .educationstable tr {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
    text-align: center;
  }
}

/* xs */
@media (max-width: 768px) {
  .utilitycontainer {
    width: 100%;
  }

  .studentbanner {
    display: flex;
    flex-direction: column-reverse;
    // justify-content: center;
    align-items: center;

    margin: 0;
  }

  .studentbannerleftside {
    display: flex;
    flex-direction: column;
  }

  .studentUsername {
    text-align: center;
  }

  .studentbanner,
  .studentskillscontainer,
  .studenteducationscontainer {
    margin: 0;
  }

  .studentbannerrightside img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .studentbannerleftside h4 {
    align-self: center;
  }

  .studentbannerleftside p {
    font-size: 12px;
    width: 300px;
    align-self: center;
    text-align: center;
  }

  .studentskillscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .studentskillscontainer tr {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
  }

  .studenteducationscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .educationstable tr {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
    text-align: center;
  }
}
