* {
  margin: 0;
  padding: 0;
}

.studentName{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: black;
    transition: transform 0.3s;
    transform-origin: center; /* Set the transform origin to the center of the element */
    display: inline-block;
  }

.studentName:hover {
  transform: scale(1.2);
}
  
  .studentEducation {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #555555;
    font-weight: 400;
  }

  .studentBanner {
    text-align: center; /* Center-align the content horizontally */
    width: auto;
    height: auto;
  }
  
  .studentPhoto {
    width: 200px; /* Adjust the width of the image as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image is a block element */
    margin: 0 auto; /* Center the image horizontally */
  }
  
  .studentSkills{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color:#555555; 
    font-weight: 700;
  }
  
  .studentDescription{
    width: 627px;
    height: 326px;
    font-size: 15px;
    color: black;
  }
  
  .studentBody{
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .studentContent{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .studentPhoto{
    width: 400px;
    height: 533.41px;
    border-radius: 15px;
  }

  .buttoncontact {
    width: 200px;
    height: 50px;
    background-color: #555555;
    color: white;
    border: 1px solid #ccc;
    border-radius: 40px;
    margin-top: 20px;
    transition: transform 0.3s, background-color 0.3s, color 0.2s;
  }
  
  .buttoncontact:hover {
    transform: translateY(-2px);
    background-color: #555;
    color: black;
  }
  
  .clicked {
    transform: translateX(5px);
    background-color: white; 
    color: black; 
  }

  .skill-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 30px;
  }
  
  .skill-icon {
    width: 70px; 
    height: 50px; 
  }
  
  .skill-icon:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px #ccc;
  }
  .skill-text {
    font-size: 18px; 
  }