@import '../../styles/_globals.scss';

* {
    margin: 0;
    padding: 0;
}

.body{
    margin: $_margin;
}

.footer {
    display: flex;
    height: 200px;

    // justify-content: space-around;
}

.footerLogo { 
    width: 25%;
    height: 100%;
    object-fit: scale-down;
}

.footer_icons {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: right;    
    align-items: center;
    gap: 1rem;
}

.footerIcons {
    font-size: 40px;
}

