@import "../../styles/_globals.scss";
@import "../../styles/_fonts";

* {
  margin: 0;
  padding: 0;
}

.navbarcontainer {
  width: 100%;
  height: 4rem;

  display: flex;
  padding: 0 5rem;
  margin-top: 2rem;
}

.navbarlogo {
  height: 100%;
  object-fit: contain;
}

.navbartabs {
  width: 100%;
  justify-content: end;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbarlinks {
  height: fit-content;
}

.navbarlinks:link,
.navbarlinks:visited,
.navbarlinks:hover,
.navbarlinks:active {
  text-decoration: none;
  color: black;
}

.navbarlogin {
  width: 100px;
  height: 36px;
  border-radius: 6px;
  border: none;
  color: #555555;
  font-size: 1rem;
  font-family: poppins_regular;
  white-space: nowrap;
  background-color: #b3a398;
  box-shadow: 4px 4px 10px color-mix(in srgb, #b3a398 100%, #555555 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, background-color 0.3s, color 0.2s;
}

.navbarlogin:hover {
  transform: translateY(-2px);
  background-color: #555;
  color: white;
}

.navbardropdown {
  display: none;
  justify-self: center;
  align-self: center;
  padding-right: 1vw;
}

.dropdown-menu li {
  text-align: center;
}

// mobile devices
@media screen and (max-width: 480px) {
  .navbarcontainer {
    // margin-top: 0.5rem;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    // gap: 5rem;
    // border: 1px solid black;
  }

  .navbarlogo {
    height: 70%;
    // object-fit: contain;

    align-self: center;
  }

  .navbardropdown {
    display: inline;
  }

  .navbartabs {
    display: none;
  }

  .navbarlinks {
    font-family: poppins_bold;
    border-bottom: 1px solid $clr-lightpink;
  }
}

// 481px — 768px: iPads, Tablets
@media screen and (min-width: 481px) {
  .navbarcontainer {
    // margin-top: 0.5rem;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    // gap: 5rem;
    // border: 1px solid black;
  }

  .navbarlogo {
    height: 70%;
    // object-fit: contain;

    align-self: center;
  }

  .navbardropdown {
    display: inline;
  }

  .navbartabs {
    display: none;
  }

  .navbarlinks {
    font-family: poppins_bold;
    border-bottom: 1px solid $clr-lightpink;
  }
}

// 769px — 1024px: Small screens, laptops
@media screen and (min-width: 769px) {
  .navbarcontainer {
    width: 100%;
    height: 4rem;
  
    display: flex;
    padding: 0 5rem;
    margin-top: 2rem;
  }
  
  .navbarlogo {
    height: 100%;
    object-fit: contain;
  }
  
  .navbartabs {
    width: 100%;
    justify-content: end;
  
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .navbarlinks {
    height: fit-content;
  }
  
  .navbarlinks:link,
  .navbarlinks:visited,
  .navbarlinks:hover,
  .navbarlinks:active {
    text-decoration: none;
    color: black;
  }
  
  .navbarlogin {
    width: 100px;
    height: 36px;
    border-radius: 6px;
    border: none;
    color: #555555;
    font-size: 1rem;
    font-family: poppins_regular;
    white-space: nowrap;
    background-color: #b3a398;
    box-shadow: 4px 4px 10px color-mix(in srgb, #b3a398 100%, #555555 100%);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: transform 0.3s, background-color 0.3s, color 0.2s;
  }
  
  .navbarlogin:hover {
    transform: translateY(-2px);
    background-color: #555;
    color: white;
  }
  
  .navbardropdown {
    display: none;
    justify-self: center;
    align-self: center;
    padding-right: 1vw;
  }
  
  .dropdown-menu li {
    text-align: center;
  }
}

// // 1201px and more —  Extra large screens, TV
// @media screen and (min-width: 769px) {
  
// }



// 1025px — 1200px: Desktops, large screens
